[run]
source = app, collectors, ml
branch = true
omit =
    tests/*
    */__init__.py

[report]
exclude_lines =
    pragma: no cover
    if __name__ == .__main__.:
    raise NotImplementedError
show_missing = true
skip_covered = false
